[user]
	name = Phtrader043
	email = pedrohenriquecoutinhodeoliveir@gmail.com
[safe]
	directory = /storage/emulated/0/Download/meu-bot
	directory = /storage/emulated/0/Download/meu-bot
	directory = /storage/emulated/0/Download/bot_dashboard
